*,*::after,*::before {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

body{
    background-color: #262222;
    color: white;
    font-family: 'Inter', sans-serif;
    min-width: 300px;
    height: 100vh;
    max-height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
}

.header-sec {
    display: grid;
    background-color: #00D5A4;
    color: white;
    font-size: 22px;
    min-height: min-content;
    height: 12vh;
    max-height: 15vh;
}

.header-sec a {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10% 0 10%;
    max-width: 100%;
    overflow-wrap: break-word;
    margin: calc(20vh - 10px) 0 0 0;
}

.welcome {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

.welcome p {
    display: flex;
    font-size: 18px;
}

.header-nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8vh;
}

.header-nav ul {
    width: inherit;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.profile {
    display: none;
}

main h2 {
    margin: 5% 0 5% 0;
}

footer a{
    color: #D2D2D2;
    text-decoration: none;
}
.hr-line {
    display: flex;
    justify-content: center;
}

.hr-line hr{
    height: 1px;
    border: none;
    background-color: rgba(203, 203, 203, 0.8);
    width: 90%;
}

footer {
    display: grid;
    color: #D2D2D2;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h3 {
    padding-left: 10%;
    font-size: 1.1em;
    margin-top: 2.5%;
}

footer nav {
    color: #D2D2D2;
    text-align: center;
    margin-top: 5%;
    display: block;
    justify-content: center;
}

footer ul {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.4%;
}

